<table class="table table-user">

 <h1>User info</h1>
 <div class="row">
  <thead>
    <tr>
      <%= image_tag user.get_profile_image(100,100) %>
    </tr>
   </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>Introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
     <div class="row">
        <th>
          <button type="button" class=" btn btn-outline-secondary btn-block col-md-12" >
            <%= link_to edit_user_path(user)  do %>
            <i class="fas fa-user-cog" style="color:gray;"></i>
            <% end %>
          </button>
        </th>
      </div>
    </tr>

  </tbody>
</table>